<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="footer.css" />
  <link rel="stylesheet" type="text/css" href="articles.css" />
  <title>
    ABOUT US
  </title>
</head>

<body>
  <div id="topBar">
    <div id="middleName">ABOUT</div>
    <ul class=topBarUl>
      <li style="list-style:none;">
        <a href="index.html"><img src="address.png"/></a>
      </li>

      <li style="list-style:none;">
        <a href="/blogpage"><img src="4618-200.png"/></a>
      </li>


    </ul>
    <!--this is for search button-->
    <div id="search"><a href="/loginpage">LOGIN | REGISTER</a></div>

  </div>

  <div id="aboutForm">
    <div id="aboutmepic"><img src="12724759_972749916136686_1808889980_n.jpg" /></div>
    <div id="aboutmepic1"><img src="17022050_1261949593911995_2116764977979742780_n.jpg" /></div>
    <div id="aboutmepic2"><img src="15027399_1071558579609266_8814112854850481136_n.jpg" /></div>
    <div id="container1">We Founded this TECH Platform, here anyone can read or write their own blogs, basically we 3 are programmers , and we have passion to create something, so we thought why to write blogs on different platform which is not ours. So we decided to create
      our own platform, many things as you can see in this website is under development, and we surely update the website in future, like then every user uploads their own profile picture and also every user will comment.</div>

  </div>
  <div id="sitefooter">All Rights Reserved | 2017</div>

  <div id="footer">
    <ul id="footer_menu">
      <li class=homeButton><a href="index.html"><img src="https://lh3.googleusercontent.com/NA5r02jTl0idWLTaC-l_-DXzZbQPdHlGrH_OVlJmaB9gC_I8kZ1z8Q6kpXZrpXBM6A9r=w300" style="width:35px;height:35px;"/></a></li>

      <li><a href="http://google.com">LINK</a>
        <div class=one_column>
          <div class=col_1>
            <a class="heading" href="http://google.com">Messages</a>
            <a class="heading" href="http://facebook.com">Streams</a>
            <a>Inbox</a>
            <a>Sent</a>
            <a>Trash</a>
            <a class=heading>Information</a>
            <a>Basic Info</a>
            <a>Contact</a>
            <a>Information</a>
            <a>Education</a>
          </div>
        </div>
      </li>
      <!--this is for account-->
      <li style="width:72px;"><a href="http://google.com">ACCOUNT</a>
        <div class=two_column>
          <div class=col_1>
            <p Style="color:red;text-decoration:underline;font-size:20px;">Example of Three Columns</p>
          </div>
        </div>
      </li>
      <li style="width:52px;"><a href="http://gmail.com">SOCIAL</a>
        <ul class="dropup">
          <li><a href="http://facebook.com">Facebook</a></li>
          <li><a href="http://twitter.com">Twitter</a></li>
          <li><a href="http://gmail.com">Gmail</a></li>

        </ul>
      </li>

    </ul>
    <!--thi is logout buttn-->
    <ul id=logout>
      <li><a href="http://google.cm">LOGOUT</a></li>
    </ul>
    <!--this is for notification iscons-->
    <ul id=notification>
      <li class="notificationIcon"><a href="http://facebook.com"><img src="http://alumni.nitjsr.ac.in/images/facebook.png" style="width:30px;
      height:30px;"/></a></li>
      <!--twiiter icon-->
      <li class=notificationIcon><a href="http://twitter.com"><img src="http://icon-icons.com/icons2/306/PNG/512/Twitter-Icon_34073.png" style="width:35px;height:35px;"/></a></li>
      <!--gmail icn-->
      <li class="notificationIcon"><a href="http://gmail.com"><img src="https://www.layered-reality.com/img/social/gmail.png" style="width:35px; height:35px;"/></a></li>
    </ul>
  </div>

  <script type="text/javascript" src="main1.js"></script>

</body>

</html>
